[AUTOUPDATE]
# Version of the new pre-release
VERSION=0.1.0-beta.1

# Download URL of the ZIP archive
ARCHIVEURL=https://github.com/Holzmusik/LoxBerry-Plugin-froniusmqtt/archive/refs/tags/v0.1.0-beta.1.zip

# URL for further information about this release
INFOURL=https://github.com/Holzmusik/LoxBerry-Plugin-froniusmqtt/releases/tag/v0.1.0-beta.1
